PipeLine.AddInfoToFile.Adapters/bin
PipeLine.AddInfoToFile.Adapters/obj
PipeLine.AddInfoToFile.Interfaces/bin
PipeLine.AddInfoToFile.Interfaces/obj
PipeLine.AddInfoToFile.Models/bin
PipeLine.AddInfoToFile.Models/obj
PipeLine.AddInfoToFile.Steps/bin
PipeLine.AddInfoToFile.Steps/obj
PipeLine.Domain/bin
PipeLine.Domain/obj
PipeLine.Interfaces/bin
PipeLine.Interfaces/obj
PipeLine.Models/bin
PipeLine.Models/obj
PipeLine.StandardPipeLine/bin
PipeLine.StandardPipeLine/obj
WebApiWithPipeLine/bin
WebApiWithPipeLine/obj
WebApiWithPipeLine/Information.txt